footer {
  text-align: center;
  background-color: #efefef;
  bottom: 0;
  left: 0;
  padding-top: 15px;
}

.material-icons-outlined {
  font-size: 25px;
  margin-right: 10px;
  color: #1a2d42;
}

mat-card-footer {
  display: flex;
  font-size: 35px;
  margin: auto;
  font-family: "Mr De Haviland", cursive;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  height: 55px;
}

p {
  margin: 0px 0px 0px 5px;
  font-size: 20px;
  font-family: sans-serif;
  color: #1a2d42;
}

