<footer>
    <h2>Let's Connect!</h2>

  <base target="_blank"/>

    <!-- <a href="tel:9136201902" class="fa fa-mobile" aria-hidden="true" alt="smartphone"></a>
    <a href="mailto:jenhalv06@gmail.com" class="fa fa-envelope" aria-hidden="true" alt="envelope"></a> -->
    <a href="https://twitter.com/jennlynnhalv" class="fa fa-twitter" aria-hidden="true" alt="twitter"></a>
    <a href="https://www.linkedin.com/in/jennifer-halvorson-portfolio2020" class="fa fa-linkedin" aria-hidden="true" alt="linkedin"></a>
    <a href="https://www.instagram.com/jennlynnhalv" class="fa fa-instagram" aria-hidden="true" alt="instagram"></a>
    <a href="https://www.pinterest.com/jenhalvorson/" class="fa fa-pinterest" aria-hidden="true" alt="pinterest"></a>
    <a href="https://www.facebook.com/jennifer.d.halvorson/" class="fa fa-facebook" aria-hidden="true" alt="facebook"></a>

    <a href="https://github.com/jenhalv" class="fa fa-github" aria-hidden="true" alt="github"></a>

  <mat-card-footer>
    <span class="material-icons-outlined">copyright</span> Jennifer Halvorson <p>2021</p>
  </mat-card-footer>


</footer>
