<footer>

  <base target="_blank"/>

    <a href="https://twitter.com/ArvidOutdoors">
      <img appLazyLoad_save src="/assets/social-icons/Twitter_Icon_w.png" alt="Arvid Twitter">
    </a>

    <a href="https://www.facebook.com/arvidoutdoors/">
      <img appLazyLoad_save src="/assets/social-icons/Facebook_Icon_w.png" alt="Arvid Facebook"/>
    </a>

    <a href="https://www.instagram.com/arvidoutdoors/?hl=en">
      <img appLazyLoad_save src="/assets/social-icons/Instagram_Icon_w.png" alt="Arvid instagram"/>
    </a>

    <span class="narrow"></span>

    <a href="mailto:info@arvidoutdoors.com">
      <img appLazyLoad_save src="/assets/social-icons/Email_Icon_w.png" alt="Email Jen"/>
    </a>

    <a href="https://www.linkedin.com/in/jennifer-halvorson-portfolio2020">
      <img appLazyLoad_save src="/assets/social-icons/LI_Icon_w.png" alt="Linked In"/>
    </a>

    <!-- <div>&copy;Jennifer Halvorson 2020</div> -->
</footer>
