footer {
  justify-content: center;
  text-align: center;
  color: white;
  background-color:  #1a2d42;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  justify-content: center;
  text-align: center;
  padding: 3px;
  height: 30px;
  width: 30px;
  margin: 15px;
  border: 3px solid white;
}

a:hover {
  cursor: pointer;
  background-color: #85f4ff;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
  color: #1a2d42;
}
