  <div>
    <a class="circle-link" href="https://twitter.com/ArvidOutdoors" target="_blank" alt="Arvid Outdoors Twitter">
      <img appLazyLoad_save alt="twitter"  src="../../../assets/social-icons/twitter.png" />

      <a class="circle-link" href="https://www.facebook.com/arvidoutdoors/" target="_blank" alt="Jennifer's Personal Facebook">
        <img appLazyLoad_save alt="facebook" src="../../../assets/social-icons/facebook.png" />

        <a class="circle-link" href="https://www.instagram.com/arvidoutdoors/?hl=en" target="_blank" alt="Arvid Outdoors instagram">
          <img appLazyLoad_save alt="instagram"  src="../../../assets/social-icons/instagram.png" />
        </a>
      </a>
    </a>

    <br />

    <div>&copy;Jennifer Halvorson</div>
  </div>

