<mat-card>
<!--
  <mat-card-title>Skills
    <app-decorative-lines></app-decorative-lines>
  </mat-card-title> -->

  <mat-card-content *ngFor="let skill of SKILLS">

    <h3>
      <img [src]="skill.iconUrl" [alt]="skill.iconAlt"/>
        {{skill.title}}
      </h3>

    <section>

      <mat-progress-bar
        mode="determinate"
        [value]="skill.value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>

      <div>
        <ng-template [ngIf]="skill.value == 33">Beginner</ng-template>
        <ng-template [ngIf]="skill.value == 66">Intermediate</ng-template>
        <ng-template [ngIf]="skill.value == 100">Proficient</ng-template>
      </div>

    </section>

  </mat-card-content>
</mat-card>

<!-- THINGS TO ADD LATER:

personable collaborative, motivated,
designing and building for responsive/adaptive scenarios;
You understand the deeper workings of a single-page application
You have the ability to build complex UI elements from scratch (eg, a graphing component) instead of relying on 3rd party libraries all the time;
You're a fan of design, both visual and experiential, and appreciate the sensibilities it takes to build out a web product that looks, feels and functions as intended;
You have an online portfolio/website that proves the above.
You have dreamed of joining a solid, growing, no nonsense early stage company working directly with founders and A-level experienced players. -->

<!--


<h2>Possible Interactive javascript activities</h2>

<div class="card-container">
<div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

  <span>New Component</span>
</div>

.card-container {
  max-width: 700px;
}


</div> -->
