mat-card {
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 20%);
  background: white;
  letter-spacing: 1px;
  border-radius: 0%;
}

.mat-card:not([class*=mat-elevation-z]) {
  min-width: 500px;
}

img {
  width: 29px;
  height: 29px;
  margin: 5px 5px 5px 0px;
}

p {
  margin: 0px;
}

mat-card-title {
  font-size: 18px;
  display: flex;
  margin: 0px;
  align-items: center;
  }


section {
  display: flex;
  align-items: center;
  padding: 0px;
}

:host ::ng-deep mat-progress-bar {
  height: 25px;
  background-color: #1a2d42 !important;
}

:host ::ng-deep .mat-progress-bar-fill {
  background-color: #1a2d42 !important;
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: #1a2d42 !important;
}

:host ::ng-deep .mat-progress-bar-buffer {
  background-color: #ececec !important;
}

div {
  position: absolute;
  padding-left: 10px;
  color: white;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 560px) {
    .mat-card:not([class*=mat-elevation-z]) {
      min-width: 300px;
    }
}

@media only screen and (max-width: 350px) {
  .mat-card:not([class*=mat-elevation-z]) {
    min-width: 200px;
  }
}
