 <!-- Top Container with list, photo, & Contact button -->

<div class="card-container">
  <mat-card class="main-raised">

    <!--Box with checkmarks-->
      <div class="info">
        Experience in:
            <ul>
                <li>Quality Assurance</li>
                <li>Angular Web Design</li>
                <li>Front-End Development</li>
                <li>Front-End Development</li>
                <li>Front-End Development</li>
                <li>Front-End Development</li>
            </ul>
      </div>
  </mat-card>

    <!--Photo of Jen in AZ-->
    <img class="img" src="assets/personal-photos/jen1.jfif">
</div>
