.jump {
  margin-top: -90px;
  padding-top: 90px;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

a:-webkit-any-link {
  color: black;
}

a:visited {
  color: black;
}

:host ::ng-deep a:visited {
  color: black;
}

a:hover {
  color: white;
}

mat-card-content {
  margin: auto;
  font-size: 17px;
  line-height: 21px;
  padding: 0px 0px 10px;
}

mat-card-subtitle {
  padding-top: 20px;
  margin: 0;
}

@media only screen and (max-width: 420px) {
  :host ::ng-deep ul {
  padding-inline-start: 20px;
}
}
