<hr>

<div class="jump" id="employment"><h1>Employment</h1></div>

<h1 class="coming-soon">COMING SOON!</h1>

<div class="classroom-container">
  <img class="classroom-pic" src="assets/experience-icons/Education.png" alt="Jennifer in her classroom">
</div>

<!-- INFO TO ADD??
Over the past 20 years, I have been a dedicated elementary teacher.
Currently, I am writing code and am the Quality Assurance Tech for <a target="_blank" href="www.arvidoutdoors.com"> www.ArvidOutdoors.com</a>, a search engine allowing people to find guided outdoor experiences designed by my husband, Steve Halvorson.

-->
