<hr>

  <h1>Employment</h1>
  <app-decorative-lines></app-decorative-lines>
  <div class="jump" id="employment"></div>
  <app-employment-card></app-employment-card>

<div style="margin-bottom: 145px;"></div>

  <!-- <mat-card *ngFor="let job of JOBS">

    <mat-card-title [innerHTML]="job.title"></mat-card-title>

    <mat-card-content [innerHTML]="job.description"></mat-card-content>

    <mat-card-subtitle>For more information, click the link below:</mat-card-subtitle>
    <a class="navigation">

    <a (click)="onClickScroll(projectId)">
      <mat-card-content style="padding-bottom: 0px" [innerHTML]="job.company"></mat-card-content>
    </a>
    <mat-card-content>{{job.dates}}</mat-card-content>

    <hr style="margin: 0px">

  </mat-card>


<div style="margin-bottom: 145px;"></div> -->
