.classroom-pic {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 245px;
    margin: 15px auto 135px auto;
}

.classroom-container {
  max-width: 875px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.next {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.route-card {
  width: 85px;
  color: #1a2d42;
  text-align: center;
  font-size: 45px;
  font-family: Helvetica;
}

.route-card:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.route-pic {
  width: 50px;
  vertical-align: bottom;
}
