mat-card-container {
  display: flex;
  color: #1a2d42;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border: #1a2d42 3px;
  border-style: solid;
}

mat-card {
  width: 125px;
  margin: 5px;
  font-size: large;
  color: #1a2d42;
  border: #1a2d42 1px solid;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 3px;
}

mat-card:hover {
  cursor: pointer;
  background-color: #d0d0d0;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
  color: #1a2d42;
}

.about-icons {
  width: 100px;
}
