<div>

  <mat-card>
  <mat-card-title>About
    <app-decorative-lines></app-decorative-lines>
  </mat-card-title>

  <p>Greetings!  Thanks for checking out my portfolio.&nbsp;&nbsp;My name is Jennifer Halvorson ~ I ventured into the programming world in 2019 after quitting my teaching job in the KC area to move to our family’s southwestern Missouri pecan farm.</p>
  <br>

  <p>I created this portfolio using Angular CLI and published <a target="_blank" rel="noopener" href="https://paulspecans.com/">Paul’s Pecans</a>, a website dedicated to displaying information about pecan farming.&nbsp;&nbsp;Currently, I am the Quality Assurance Tech, Social Media Marketer, Front End Junior Developer, and Blog Writer for <a target="_blank" rel="noopener" href="https://arvidoutdoors.com/">ArvidOutdoors.com</a>, a search engine allowing people to find guided outdoor experiences created & written by my husband, Steve Halvorson.&nbsp;&nbsp;I have
    experience creating icons, logos, brochures, and business cards using Adobe Photoshop.</p>
  <br>

  <p>I have built my coding knowledge by participating in development conferences, workshops, & meet-ups and have completed countless lessons & tutorials from online resources.&nbsp;&nbsp;I spend the majority of my time creating small Angular projects and have become highly skilled in research & problem solving (in other words, I am a proficient Googler).&nbsp;&nbsp;I enjoy participating in <a target="_blank" rel="noopener" href="https://twitter.com/AngularGirls" style="font-weight: normal;">Angular Girls</a> conferences and was a mentor for the first time for <a target="_blank" rel="noopener" style="font-weight: normal;" href="https://workshops.ng-girls.org/ngconf-2021/">ngConf 2021</a>!&nbsp;&nbsp;You can <a title="contact me" (click)="onClickScroll('contact')">contact</a> me at <a href="mailto:jenhalv06@gmail.com" title="Jen's email address" style="font-weight: normal;">jenhalv06@gmail.com</a>.</p>

</mat-card>

  <app-skills></app-skills>

</div>
