<h2>Click the links below for more information:</h2>

<div class="card-container">

  <mat-card class="example-card">
        <a routerLink="/education">
        <img src="assets/education-icons/Cap.png" alt="education">Education</a>
      </mat-card>

      <mat-card class="example-card">
        <a routerLink="/employment">
        <img src="assets/personal-photos/Resume.png" alt="employment">Employment</a>
      </mat-card>

      <mat-card class="example-card">
        <a routerLink="/projects">
        <img src="assets/experience-icons/Computer.png" alt="projects">
        Projects</a>
      </mat-card>

<!-- <mat-card>
    <a routerLink="/mat-card">
      <img src="assets/experience-icons/Computer.png">Mat-Card</a>
</mat-card> -->
      <!-- <mat-card>
        <a routerLink="/skills">
        <img class="about-icons" alt="skills" src="assets/experience-icons/????.png">
        Skills</a>
      </mat-card> -->

</div>
