.card-container {
  font-size: 18px;
  color: #1a2d42;
  max-width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.example-card {
  width: 115px;
  margin: 5px;
  color: #1a2d42;
  border: #1a2d42 1px solid;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 3px;
  text-align: center;
}
// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }

h2 {
  font-size: 21px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: 'Special Elite'
  }

// mat-card {
//   width: 115px;
//   margin: 5px;
//   color: #1a2d42;
//   border: #1a2d42 1px solid;
//   box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
//   background-color: white;
//   padding: 3px;
// }


mat-card:hover {
  cursor: pointer;
  background-color: #d0d0d0;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
  color: #1a2d42;
}

a {
  text-decoration: none;
  color: #1a2d42;
  font-size: large;
  text-align: center;
}

img {
  width: 100px;
}
