div {
  justify-content: center;
  display: flex;
  font-family: 'Tenor Sans', sans-serif;
}

mat-card {
  max-width: 800px;
  color: black;
  background-color:  #efefef;
  transition: 2s ease;
  font-size: 20px;
  line-height: 24px;
  margin: 45px 10px 100px 10px;
}

mat-card:hover {
  background-color: #d0d0d0;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
}

mat-card-title {
  font-size: 35px;
  margin: 20px auto;
}

.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 10px;
}

a {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  background-color: red;
  padding: 1px;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
  color: black;
}
