<div class="about">
  <mat-card-container>

    <h2>Links coming soon showcasing education, employment, & projects.</h2>

      <mat-card>
          <a routerLink="/education">
        <img class="about-icons" alt="education" src="../../../assets/education-icons/Cap.png">
          Education</a>
      </mat-card>

      <mat-card>
        <img class="about-icons" alt="employment" src="../../../assets/personal-photos/Resume.png">
          Employment
      </mat-card>

      <mat-card>
        <img class="about-icons" alt="projects" src="../../../assets/experience-icons/Computer.png">
          Projects
      </mat-card>

  </mat-card-container>
</div>
