<!-- <button class="expand" (click)="toggleExpandState()">{{allExpandState  ? 'Collapse All' : 'Expand All'}}</button> -->
<hr>

<h1>My Projects</h1>
<app-decorative-lines></app-decorative-lines>
<div class="jump" id="projects"></div>

<!-- <ul><p>When I create a new website, I consider the following things:</p><li>Is the site responsive/does it looks great on all devices?</li><li>How well designed is the user interface/is the look, feel, and interactivity of the site straightfoward?</li><li>Is it written in Angular (one of the most popular frameworks for user interface development!)?</li></ul> -->
