.intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  color:  #1a2d42;
  margin-top: 10px;
}

.personal_pic {
  width: 270px;
  height: 100%;
  transform: scaleX(-1);
  margin: 10px;
  padding: 2px;
  border: 5px solid #1a2d42;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

mat-card {
  width: 270px;
  height: 100%;
  margin: 10px;
  font-family: 'Rancho';
  font-size: 26px;
  color: #eeeeee;
  background-color:#1a2d42;
  text-align: left;
  border: 5px solid white;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  font-size: 35px;
}

//List of experience
ul {
  list-style: none;
  padding-left: 10px;

}

//Colored Checkmarks
ul li:before {
  content: '✓';
  color: #08c3d5;
  padding-right: 5px;
}

.frontend-container {
  width: 330px;
  text-align: center;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
}

.list_icons {
  height: 100%;
}

.icon {
  width: 60px;
  padding: 7px;
}
