mat-card-container {
  max-width: 1050px;
}

mat-card {
  width: 330px;
  color: #eeeeee;
  background-color:#1a2d42;
  border: 5px solid white;
  border-radius: 0px;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.experience-title {
  font-size: 25px;
  text-align: left;
}

//List of experience
ul {
  list-style: none;
  padding-left: 10px;
  line-height: 40px;
  text-align: left;
  font-size: 21px;
  margin: 0px;
}

//Colored Checkmarks
ul li:before {
  content: '✓';
  color: #08c3d5;
  padding-right: 5px;
}

.personal-pic {
  margin: 10px;
  width: 224px;
  border: 5px solid white;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.frontend-title {
  // font-family: 'Courier New', Courier, monospace;
  font-family: 'Special Elite';
  font-size: 25px;
  line-height: 29px;
}

.icon {
  width: 60px;
  padding: 7px;
}
