div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.frontend-title {
  font-family: 'Special Elite';
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: white;
}

mat-card {
  color: #eeeeee;
  // background-color:#1a2d42;
  border: 5px solid white;
  border-radius: 0px;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.icon {
  width: 60px;
  padding: 7px;
}


// //
// div {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
// }

// .frontend-title {
//   font-family: 'Special Elite';
//   font-size: 25px;
//   line-height: 29px;
//   text-align: center;
//   color: white;
// }

// .tools {
//   width: 330px;
//   color: #eeeeee;
//   background-color:#1a2d42;
//   border: 5px solid white;
//   border-radius: 0px;
//   box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
//   justify-content: space-around;
//   align-items: center;
//   align-content: center;
//   text-align: center;
//   flex-wrap: wrap;
//   margin-top: 5px;
//   margin-bottom: 5px;
//   margin-left: 5px;
//   margin-right: 5px;
// }
// .icon {
//   width: 60px;
//   padding: 7px;
// }

// @media only screen and (max-width: 300px) {
//   .narrow2 {
//     display: block
//     }
// }
// @media only screen and (max-width: 350px) {
//   .narrow1 {
//     display: block
//   }
//   .narrow2 {
//     display: block
//     }
// }
