 <!-- Top Container with list, photo, & Contact button -->
<div class="intro-container">
   <mat-card>
      <!--Box with checkmarks-->
             <mat-card-title>
          Experience in:</mat-card-title>
                <mat-card-content class="list">
                  <ul>
                  <li>Quality Assurance</li>
                  <li>Angular Web Design</li>
                  <li>Front-End Development</li>
                  <li>Front-End Development</li>
              </ul>
            </mat-card-content>
          </mat-card>



      <!--Photo of Jen in AZ-->
      <img mat-card-image class="img" src="assets/personal-photos/jen1.jfif" alt="Photo of Jennifer in Arizona">

</div>
