<mat-card-container>

    <!--Experience box with checkmarks-->
    <mat-card>
      <mat-card-title class="experience-title">Experience</mat-card-title>
        <ul>
          <li>Quality Assurance</li>
          <li>Project Management</li>
          <li>Web App Maintenance</li>
          <li>Front-End Development</li>
        </ul>
    </mat-card>

    <!--Photo of Jen in AZ-->
    <img mat-card-image class="personal-pic" src="assets/personal-photos/jen1.jfif" alt="Photo of Jennifer in Arizona"/>

    <!--Container of Front-End icons-->
    <mat-card>
      <mat-card-title class="frontend-title">Front-End Tools</mat-card-title>
        <mat-card-content class="list-icons">
          <img class="icon" src="../../../assets/experience-icons/Angular_Icon.png" alt="Angular Logo"/>
          <img class="icon" src="../../../assets/experience-icons/SASS_Icon.png" alt="Scss Icon"/>
          <img class="icon" src="../../../assets/experience-icons/VSC_Icon.png" alt="Visual Studio Code Icon"/>
          <img class="icon" src="../../../assets/experience-icons/TS_Icon.png" alt="Typescript Icon"/>
          <img class="icon" src="../../../assets/experience-icons/JS_w.png" alt="Javascript Icon"/>
          <img class="icon" src="../../../assets/experience-icons/HTML_w.png" alt="Html 5 Icon"/>
          <img class="icon" src="../../../assets/experience-icons/CSS_w.png" alt="CSS Icon"/>
              <!-- <img class="icon" src="../../../assets/experience-icons/Yarn_icon.png" alt="Yarn Icon"/> -->
        </mat-card-content>
    </mat-card>

</mat-card-container>
