.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100%;
  max-height: 75px;
  width: 100%;
  background-color: #1a2d42;
  align-items: center;
  justify-content: left;
}

.welcome {
  font-family: 'Special Elite';
  font-size: x-large;
  color: white;
  margin-left: 5px;
  flex-wrap: wrap;
  margin-top: 5px;
  display: flex;
}

.lightbulb {
  height: 60px;
  margin: 0px;
}



