.toolbar {
  height: flex;
  display: flex;
  align-items: center;
  background-color:#003f56;
  padding: 5px;
}

.welcome {
  color: white;
  font-size: 50px;
}

.lightbulb {
  width: 60px;
  padding: 5px;
  display: flex;
}
.rwd-break {
  display: none;
}

.toolbar_icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

// MEDIA SETTINGS FOR ENTIRE SITE
@media only screen and (max-width: 280px) {
  .rwd-break {
    display: center;
  }
  .welcome {
      font-size: 20px;
      margin-left: 20;
      margin-right: 0;
      align-items: left;
      text-align: center;
    }
    .lightbulb {
      width: 80px;
    }
  }

@media only screen and (max-width: 490px) {
  .rwd-break {
    display: flex;
  }
  .welcome {
      font-size: 20px;
      margin-left: 0;
      margin-right: 0;
      align-items: left;
      text-align: center;
    }
    .lightbulb {
      width: 80px;
    }
  }


@media screen and (max-width: 500px) {
  .rwd-break {
    display: block;
  }
.welcome {
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
  align-items: left;
  text-align: center;
}
.lightbulb {
  width: 80px;
}
}

@media only screen and (max-width: 600px) {
  .rwd-break {
    display: block;
  }
  .welcome {
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    align-items: left;
    text-align: center;
  }
  .lightbulb {
    width: 80px;
  }
}

@media only screen and (max-width: 992px) {
  .rwd-break {
    display: block;
  }

  .welcome {
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    align-items: left;
    text-align: center;
  }
  .lightbulb {
    width: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .rwd-break {
    display: block;
  }

  .welcome {
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    align-items: left;
    text-align: center;
  }
  .lightbulb {
    width: 80px;
  }
}


