:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: fixed;
  font-family: 'Tenor Sans', sans-serif;
}

mat-toolbar {
  height: 65px;
  background-color: #1a2d42;
  justify-content: space-around;
  text-align: center;
  z-index: 1000;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}

p {
  font-size: 30px;
  text-align: left;
  font-family: 'Tenor Sans', sans-serif;
  margin: auto;
}

img {
  height: 45px;
  padding: 0 15px 0 0;
}

.material-icons-outlined {
  font-size: 40px;
  display: block;
  width: 85px;
}

div {
  display: flex;
}

a:hover {
  background-color: #1a2d42;
  cursor: pointer;
  color: #ece4df;
}

a:focus {
  background-color: #1a2d42;
  cursor: context-menu;
  color: #ece4df;
}

a.active {
  background-color: #1a2d42;
  cursor: context-menu;
  color: #ece4df;
}

.home-page:hover {
  cursor: pointer;
}

a.home-page:focus {
  cursor: context-menu;
}

a.home-page {
  cursor: context-menu;
}

.home-page {
  display: flex;
  text-decoration: none;
}

a {
  display: block;
  color: white;
  font-size: 14px;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 445px) {
  p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 370px) {
  p {
    font-size: 20px;
  }
}
