<h1>Experience in:</h1>

<ng-image-slider [images]="imageObject"></ng-image-slider>

<!--
              <div class="design-container">
                <mat-card>
                  Design Tools<br>
                  <img width="70" src="../../../assets/experience-icons/Adobe_Icon.png" alt="Adobe Logo">
                  <img width="70" src="../../../assets/experience-icons/photoshop_icon.png" alt="Adobe Photoshop Icon">
                  <img width="70" src="../../../assets/experience-icons/Lightroom_Icon.png" alt="Adobe Lightroom Icon">
                  <img width="70" src="../../../assets/experience-icons/Premiere_Icon.png" alt="Adobe Premiere Icon">
                  </mat-card>
                  </div>


         EDUCATION

         SKILLS

          Now, who we are looking for:
self-educate
First, you're personable and empathetic. You're skilled and talented, sure, but it's not about you - you want to collaborate, learn and grow, and use your skills for the betterment of the team and our customers.
You're truly passionate about front-end development, not just using it as an entry point to get to the parts of the dev stack that you're more interested in;
You grasp the importance and intricacies of designing and building for responsive/adaptive scenarios;
You understand the deeper workings of a single-page application (we use Angular, but we don't mind if your experience lies in another SPA approach, as long as you're willing to learn);
You have the ability to build complex UI elements from scratch (eg, a graphing component) instead of relying on 3rd party libraries all the time;
You're a fan of design, both visual and experiential, and appreciate the sensibilities it takes to build out a web product that looks, feels and functions as intended;
You have an online portfolio/website that proves the above.
You have dreamed of joining a solid, growing, no nonsense early stage company working directly with founders and A-level experienced players. -->





