.ng-image-slider {
  height: 100px;
}

.design-container {
  font-family: 'Tangerine', serif;
  writing-mode: vertical-rl;
  font-size: 50px;
  color:  #003f56;
  text-align: center;
  padding: 2px;
}
