 .special {
  font-family: 'Special Elite';
 }

 .fatface {
  font-family: 'Abril Fatface', cursive;
 }

 .josefin {
  font-family: 'Josefin Sans', sans-serif;
 }

 .julius {
font-family: 'Julius Sans One', sans-serif;
 }

 .mr {
   font-family: 'Mr De Haviland', cursive;
 }

 .pontano {
   font-family: 'Pontano Sans', sans-serif;
 }

 .raleway {
   font-family: 'Raleway', sans-serif;
 }

 .tenor {
  font-family: 'Tenor Sans', sans-serif;
 }

 .trirong {
   font-family: 'Trirong', serif;
 }
