<div id="home">

  <mat-card>


  <img class="jen" src="assets/personal-photos/Jen.png" alt="Photo of Jennifer in Arizona"/>
  <section>
    <h1>Front End Developer</h1>
    <!-- <hr> -->
<h3>Familiar with:</h3>
  <img class="icon" src="../../../assets/experience-icons/Angular_Icon.png" alt="Angular Logo"/>
  <img class="icon" src="../../../assets/experience-icons/HTML_B.png" alt="Html 5 Icon"/>
  <img class="icon" src="../../../assets/experience-icons/CSS.png" alt="CSS Icon"/>
  <img class="icon" src="../../../assets/experience-icons/SASS_Icon.png" alt="Scss Icon"/>
  <img class="icon" src="../../../assets/experience-icons/TS_Icon.png" alt="Typescript Icon"/>
  <br>
  <img class="icon" src="../../../assets/experience-icons/stackblitz.png" alt="Stackblitz Icon"/>
  <img class="icon" src="../../../assets/experience-icons/VSC_Icon.png" alt="Visual Studio Code Icon"/>
  <img class="icon" src="../../../assets/experience-icons/firebase_logo.png" alt="Firebase Icon"/>
  <img class="icon" src="../../../assets/experience-icons/git.png" alt="Github Icon"/>
  <img class="icon" src="../../../assets/experience-icons/weeblyW.png" alt="Weebly Icon"/>
  <img class="icon" src="../../../assets/experience-icons/photoshop_icon.png" alt="Photoshop Icon"/>

  </section>

</mat-card>
</div>
