div {
  margin: auto;
  padding: 10px;
  transition: 2s ease;
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

mat-card {
  flex-wrap: wrap;
  max-width: 700px;
  word-wrap: break-word;
  padding: 15px;
  overflow-wrap: break-word;
  display: flex;
  margin: auto;
  background-color: transparent;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: auto;
}

section {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.icon {
  width: 60px;
  padding: 10px 5px 0px 0px;
}

p {
  font-size: 35px;
  margin: auto;
  font-family: "Mr De Haviland", cursive;
}

.jen {
  margin: auto;
  width: 224px;
  border: 5px solid white;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: left;
  font-size: 38px;
}

@media only screen and (max-width: 710px) {
  h1 {
  text-align: center;
}
}

@media only screen and (max-width: 480px) {
  .icon {
    width: 50px;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
  font-size: 30px;
}
}

@media only screen and (max-width: 416px) {
  .icon {
    width: 35px;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
  font-size: 25px;
}
}

