<mat-card id="home">
  <img class="jen" src="assets/personal-photos/Jen.png" alt="Photo of Jennifer in Arizona"/>
<div>
      <h1>Front End Developer</h1>
            <img class="icon" src="../../../assets/experience-icons/Angular_Icon.png" alt="Angular Logo"/>
            <img class="icon" src="../../../assets/experience-icons/HTML_B.png" alt="Html 5 Icon"/>
            <img class="icon" src="../../../assets/experience-icons/SASS_Icon.png" alt="Scss Icon"/>
            <img class="icon" src="../../../assets/experience-icons/TS_Icon.png" alt="Typescript Icon"/>
            <img class="icon" src="../../../assets/experience-icons/VSC_Icon.png" alt="Visual Studio Code Icon"/>
            <img class="icon" src="../../../assets/experience-icons/git.png" alt="Github Icon"/>
          </div>
</mat-card>
