.jump {
  margin-top: -100px;
  padding-top: 90px;
}

.intro {
  margin: 10px;
  padding: 10px;
  transition: 2s ease;
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  justify-content: center;
  display: flex;
  font-family: 'Tenor Sans', sans-serif;
}

.icons {
  text-align: center;
  padding: 20px;
}

mat-card {
  flex-wrap: wrap;
  max-width: 700px;
  word-wrap: break-word;
  padding: 15px;
  overflow-wrap: break-word;
  display: flex;
  background-color: transparent;
  align-items: center;
  font-family: 'Tenor Sans', sans-serif;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin: 10px auto;
}

.mat-card>:first-child, .mat-card-content>:first-child {
  margin: 10px auto;
}

section {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.icon {
  width: 40px;
  padding: 10px 5px 0px 0px;
}

// p {
//   font-size: 35px;
//   margin: auto;
//   font-family: "Mr De Haviland", cursive;
// }

.jen {
  margin: auto;
  width: 224px;
  border: 5px solid white;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 710px) {
  h1, h3 {
  text-align: center;
}
h3 {
  margin: 25px auto 5px auto;
}
}

@media only screen and (max-width: 480px) {
  .icon {
    width: 50px;
  }
  .icons {
    padding: 5px;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
  font-size: 28px;
}
}

@media only screen and (max-width: 416px) {
  .icon {
    width: 35px;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
  font-size: 25px;
}
}

