<div class="jump" id="home"></div>

<div class="intro">

  <mat-card>


  <img rel="preload" as="image" class="jen" src="assets/personal-photos/Jen.png" alt="Photo of Jennifer in Arizona"/>
  <div class="icons">
    <h1>Junior Web Developer</h1>

    <hr>

  <p>Check out my printer-friendly&nbsp;<a href="https://firebasestorage.googleapis.com/v0/b/portfolio-jenhalvorson.appspot.com/o/Jennifer%20Halvorson%20Resume.pdf?alt=media&token=6e768215-9a79-48ad-a1cc-b57b02745137" title="Jennifer's resume">resume</a>.&nbsp;
    <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-jenhalvorson.appspot.com/o/Jennifer%20Halvorson%20Resume.pdf?alt=media&token=6e768215-9a79-48ad-a1cc-b57b02745137" title="printer">
      <mat-icon
        aria-label="Click to print"
        alt="Copy to print"
        matTooltip="Click to print">print
      </mat-icon>
    </a>
  </p>

  </div>

</mat-card>
</div>
