.card-container {
  justify-content: space-between;
  display: flex;
  max-width: 500px;
  margin: auto;
}

.jump {
  margin-top: -130px;
  padding-top: 130px;
}

.image-container {
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: auto;
  position: relative;
  }

.contact{
  position: relative;
  margin: auto;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card {
  box-shadow: none;
  background-color: transparent;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  font-family: 'Tenor Sans', sans-serif !important;
}

:host ::ng-deep .mat-card-image {
  margin: auto;
  width: 100%;
  max-width: 750px;
  display: flex;
}

mat-card-title {
  margin-bottom: 4px;
  font-size: 19px;
}

mat-card-subtitle {
  font-weight: 100;
  color: black !important;
  text-underline-position: under;
}

.mat-card-content {
  margin-bottom: 0px;
  text-align: right;
}

a {
  font-weight: bold;
  text-decoration: none;
}

p {
  max-width: 750px;
  display: block;
  margin: 15px auto 0px;
  text-align: justify;
  padding: 15px;
  font-size: 18px;
}

.fa {
  padding: 0px 10px;
}

.fa-mobile {
  font-size: 60px;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 475px) {
  .card-container {
    justify-content: center;
    display: block;
  }
  .fa {
    padding: 10px;
  }
}
