.description {
  font-size: 1.0625rem;
  line-height: 1.3em;
  display: inline-block;
  color:  #003f56;
  text-align: left;
  a {
    text-decoration: underline;
    color: #08c3d5;
    cursor: pointer;
  }
}
