.card-container {
  justify-content: space-between;
  display: flex;
  max-width: 500px;
  margin: auto;
}

mat-card {
  box-shadow: none;
  background-color: transparent;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Tenor Sans', sans-serif !important;
}

mat-card-title {
  margin-bottom: 4px;
  font-size: 19px;
}

mat-card-subtitle {
  font-weight: 100;
  text-underline-position: under;
}

.mat-card-content {
  margin-bottom: 0px;
  text-align: right;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.fa {
  padding: 0px 10px;
}

.fa-mobile {
  font-size: 60px;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 475px) {
  .card-container {
    justify-content: center;
    display: block;
}
}
