<p>contact-me works!</p>

<br><br>Please contact Jennifer at
<a target="_blank" href="mailto:jenhalv06@gmail.com">jenhalv06@gmail.com</a>.

<div>

    <div class="align_stack">
      <div>
      <img style="padding: 15px"
        appLazyLoad_save
        src="assets/images/Footer_Arvid.jpg"
        alt="Arvid"
      />
      </div>

      <span><h2>More info <br class="rwd-break"><b>about Jennifer</b></h2>
        <h4 class="description">Aafdskj a;dfkj ;kasdjf ;jasdfs.</h4>
      </span>

      <div>
        <img style="padding: 15px"
        appLazyLoad_save
        src="assets/personal-photos/jen1.jfif"
        alt="Jen"
        />
      </div>

    </div>

</div>

