<hr>

  <h1>Contact</h1>
  <div class="jump" id="contact">
  <app-decorative-lines></app-decorative-lines>

  <div class="image-container">

      <img mat-card-image alt="picture of Jen's cat and computer" src="https://firebasestorage.googleapis.com/v0/b/portfolio-jenhalvorson.appspot.com/o/Personal%20Pics%2FJune.jpg?alt=media&token=2a1217e0-1589-4ad9-97fe-a8046c7bfe7a">

      <div>
      <p>When I'm not coding, you can find me working on the farm, taking pictures, watching movies, reading, or busy cooking in my kitchen (and when I’m not cooking, I’m thinking about cooking).&nbsp;&nbsp;Please <a href="mailto:jenhalv06@gmail.com">email</a> me for a list of professional and personal references.</p>

        <div class="card-container">

          <mat-card class="email">
            <a href="mailto:jenhalv06@gmail.com" class="row">
            <i class="fa fa-envelope fa-1x" aria-hidden="true" alt="envelope"></i>
            <mat-card-content style="text-align: left">
            <mat-card-title>Email</mat-card-title>
            <mat-card-subtitle><u>jenhalv06@gmail.com</u></mat-card-subtitle>
            </mat-card-content>
            </a>
          </mat-card>

          <mat-card class="text">
            <a href="tel:9136201902" class="row">
            <mat-card-content style="text-align: right">
            <mat-card-title>Text/Call</mat-card-title>
            <mat-card-subtitle><u>913-620-1902</u></mat-card-subtitle>
            </mat-card-content>
            <i class="fa fa-mobile" aria-hidden="true" alt="smartphone"></i>
            </a>
          </mat-card>
        </div>
</div>
</div>
