<p>contact-me works!</p>

<br><br>Please contact Jennifer at
<a target="_blank" href="mailto:jenhalv06@gmail.com">jenhalv06@gmail.com</a>.

<div>

    <div class="align_stack">
      <div>
      <img style="padding: 15px"
        appLazyLoad_save
        src="assets/images/Footer_Arvid.jpg"
        alt="Arvid"
      />
      </div>

      <span><h2>More info <br class="rwd-break"><b>about Jennifer</b></h2>
        <h4 class="description">Aafdskj a;dfkj ;kasdjf ;jasdfs.</h4>
      </span>

      <div>
        <img style="padding: 15px"
        appLazyLoad_save
        src="assets/personal-photos/jen1.jfif"
        alt="Jen"
        />
      </div>

    </div>

</div>



 <!-- Footer Links -->
 <div class="footer-card-container">
    <a class="circle-link" title="Jen's Twitter" href="https://twitter.com/ArvidOutdoors" target="_blank" rel="noopener"
      img src="../../../assets/social-icons/twitter.png" alt="Twitter Logo" width="21.813" height="23.453" viewBox="0 0 21.813 23.453">
    </a>

    <a class="circle-link" title="CLI" href="https://cli.angular.io/" target="_blank" rel="noopener">
      <svg alt="Angular CLI Logo" xmlns="http://www.w3.org/2000/svg" width="21.762" height="23.447" viewBox="0 0 21.762 23.447">
      </svg>
    </a>

    <a class="circle-link" title="Augury" href="https://augury.rangle.io/" target="_blank" rel="noopener">
      <svg alt="Angular Augury Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21.81" height="23.447" viewBox="0 0 21.81 23.447">
      </svg>
    </a>

    <a class="circle-link" title="Join the Conversation on Gitter" href="https://gitter.im/angular/angular" target="_blank" rel="noopener">
      <svg alt="Gitter Logo" xmlns="http://www.w3.org/2000/svg" width="19.447" height="19.447" viewBox="0 0 19.447 19.447">
      </svg>
    </a>
  </div>
