<div class="job" *ngFor="let job of JOBS">

  <mat-card class="section1">
    <mat-card-title class="title" [innerHTML]="job.title"></mat-card-title>
    <mat-card class="dates">
      <mat-card-title *ngIf="job.company" [innerHTML]="job.company"></mat-card-title>
      <mat-card-title><a target="_blank" rel="noopener" *ngIf="job.companyLink" [attr.href]="job.companyLink">{{job.companyWebsite}}</a></mat-card-title>
      <mat-card-title>{{job.dates}}</mat-card-title>
      <mat-card-title>{{job.location}}</mat-card-title>
    </mat-card>
  </mat-card>

  <div class="section2">

    <img *ngIf="job.image" mat-card-image class="computer-image" [src]="job.image" [alt]="job.imageAlt"/>

    <mat-card class="description">
      <mat-card-title>Responsibilities:</mat-card-title>
      <mat-card-title [innerHTML]="job.description"></mat-card-title>
    </mat-card>

  </div>

  <div class="section3">

    <mat-card>
      <mat-card-content *ngIf="job.extra" [innerHTML]="job.extra"></mat-card-content>
      <app-logo-icons [ICONS]="job.icons"></app-logo-icons>
      <mat-card-footer *ngIf="job.code">
        <img class="github-image" alt="GitHub icon" src="https://firebasestorage.googleapis.com/v0/b/jen-s-pictures.appspot.com/o/Logo%20Icons%20-%20experience%2Fgit.png?alt=media&token=1991638f-3019-44fd-988e-72760a454844"/>
        <mat-card-title>Repo/Source Code:<br>
        <a target="_blank" rel="noopener" [attr.href]="job.code">{{job.codeName}}</a></mat-card-title>
      </mat-card-footer>
    </mat-card>

  </div>

  <hr>
</div>
