.card-container {
  max-width: 875px;
}

mat-card {
  max-width: 500px;
  margin: 15px;
  color: #1a2d42;
  border: #1a2d42 1px solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 15px;
  font-size: 17px;
  text-align: left;
}

mat-card-image {
  margin: 0px;
}

.mat-card-image:first-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jen-pic {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 245px;
  margin: auto;
}

.education {
  max-width: 550px;
}

.education-image {
  margin: 10px;
  width: 250px;
}

//List of education
ul {
  list-style: none;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  margin: 0px;
}
