<mat-card>
      <h2>Thank you for visiting my Education Link!</h2>

        <span>Over the past 20 years, I have been dedicated to education as a full-time teacher and substitute. I have a Bachelor’s degree in General Studies and Early Childhood/Elementary Education. I am also a certified Library Media Specialist and received a Masters in Liberal Arts with an emphasis in education.

        My career instilled a passion for learning, and I have ventured into the programming world by devoting time to online and KC area workshops, meet-ups, tutorials and lessons. Currently, I am the Quality Assurance Tech for www.ArvidOutdoors.com, a search engine allowing people to find guided outdoor experiences created by my husband, Steve Halvorson.

        I have experience with CSS, HTML, Angular, Visual Studio Code, Microsoft Office, Google Suite, and Adobe Creative Cloud. I can type between 70-80 wpm and have experience creating brochures, business cards, documents, and websites. While spending time as a stay-at-home mother, I built a successful home-based photography business (www.picturesinfocus.weebly.com) capturing over 40 weddings and designing customized albums.

        Prior to graduating college, I worked part-time in the Career Services office on campus publishing a weekly booklet of job opportunities for graduates. I also worked as a bank courier, a data entry specialist, and an accounting clerk. </span>
</mat-card>

<mat-card>
       <div><img class="education_icons" src="../../../assets/education-icons/baker.png">
        <p>Master of Arts - MA Liberal Arts and Sciences/Liberal Studies/Education<br>
          2002 – 2005</p>
     </div>

      <div><img class="education_icons" src="../../../assets/education-icons/MSSU.png">
        <p>Bachelor of Education - BEd Elementary Education and Teaching<br>
          Bachelor of General Studies - BGS Emphasis in Business & Accounting<br>
          1994 – 2000</p></div>

</mat-card>

      <div><img class="education_icons" src="../../../assets/education-icons/CodeA.png">
      <p>Learn CSS (completed), & Javascript (in progress)</p></div>

      <div><img class="education_icons"src="../../../assets/education-icons/ngGirls.png">
        <p>‘Introduction to Angular’ Workshops July 2019 & July 2020</p></div>

        <div><img class="education_icons"  src="../../../assets/education-icons/ngGirls.png">
          <p> KC Meetups:  The Angular FieldGuide: Mastering TypeScript, RxJS in the Wild, and Building Applications with Firebase</p><br>
        <p>KCDC 2019:  Attended three days of learning workshops, including ‘Up and Running with Angular’</p>
      </div>



