.pic-container {
  max-width: 875px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.jen-pic {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 245px;
  margin: auto;
  margin: 10px;
}

.education-content {
  max-width: 500px;
  margin: 0px;
  padding: 5px;
  font-size: 16px;
  text-align: left;
  font-family: Helvetica;
}

.education-container {
  max-width: 700px;
  margin-bottom: 25px;
  padding: 15px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.education-image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 10px;
}

.mat-card[_ngcontent-mvb-c128] > [_ngcontent-mvb-c128]:last-child:not(.mat-card-footer), .mat-card-content[_ngcontent-mvb-c128] > [_ngcontent-mvb-c128]:last-child:not(.mat-card-footer) {
  margin-bottom: 0px;
 }

.next {
  display: flex;
  justify-content: space-between;
}

.route-card {
  width: 50px;
  color: #1a2d42;
  text-align: center;
}

.route-card:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.route-pic {
  width: 30px;
  font-size: 35px;
  font-family: Helvetica;
}

@media only screen and (max-width: 325px) {
  .jen-pic {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 225px;
    margin: auto;
    margin: 5px;
  }
}

@media only screen and (max-width: 290px) {
  .jen-pic {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 165px;
    margin: auto;
    margin: 5px;
  }
}

@media only screen and (max-width: 405px) {
  .narrow {
    display: block
  }
}
