<hr>

<div class="jump" id="education"></div>

<div class="education">
<h1>Education</h1>
 <div class="card-container">
   <section>
        <img class="jen-image" src="assets/education-icons/MSSU_2012.png" alt="MSSU family photo">
      </section>

  <section>
      <a href="https://www.mssu.edu/">
      <img class="education-image" src="assets/education-icons/MSSU.png"/></a>
      <p><b>MSSU Bachelor’s Degree</b>
        <br>
        Elementary Education -- 2000

        <hr>

      <a href="https://www.bakeru.edu/">
      <img class="education-image" src="assets/education-icons/baker.png"/></a>
      <p><b>BU Master's Degree</b>
        <br>
        Liberal Arts -- 2005</p>
  </section>

  </div>


<div class="color-container">
  <h1>Conferences, Courses, & Coding!</h1>
        <div class="education-container">
          <mat-card *ngFor="let card of CARDS">
              <a [attr.href]="card.website">
           <img mat-card-image class="courses-image"[src]="card.image" [alt]="card.imageAlt"/></a>
          </mat-card>

    </div>
  </div>
  </div>
