$lines-to-show: 5;

.collapsed {
  display: -webkit-inline-box;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
}

// .cb {
//     clear: both;
//     height: 0;
// }

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.ng-fa-icon {
  font-size: large;
  color: red;
}
