<mat-tab-group mat-align-tabs="start">

    <!-- <mat-tab label="About" *ngFor="let content of CONTENT">
          <mat-card-content [innerHTML]="card.content"></mat-card-content>
    </mat-tab>
 -->

    <!-- <mat-tab label="About">
        <div *ngFor="let content of CONTENT">
            <mat-card-content [src]="icon.content"/></mat-card-content>
        </div>
      </mat-tab> -->

    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
