div {
  max-width: 2500px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.header-less-tabs .mat-tab-group .mat-tab-header {
  display: none;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

a:-webkit-any-link {
  color: black;
}

a:visited {
  color: black;
}

:host ::ng-deep a:visited {
  color: black;
}

a:hover {
  color: white;
}

.addImage {
  width: 250px;
}

.computer-image {
  max-width: 350px;
  height: 100%;
  display: flex;
}

.github-image {
  width: 60px !important;
  height: 60px !important;
  margin: 0px 0px 0px auto;
  padding: 10px;
}


h3 {
  font-size: 17px;
  padding: 10px;
  margin: 0px auto 0px 0px;
  }

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.logo-image {
  width: 40px !important;
  height: 40px !important;
  margin: 5px;
  border-radius: 0% !important;
}

:host ::ng-deep mat-card {
  width: 450px;
  margin: 25px;
  border: black 1px solid;
  background-color: white;
  transition: background-color 2s, color 500ms;
  font-family: 'Tenor Sans', sans-serif;
  min-height: 740px;
}

mat-card:hover {
  background-color: #d0d0d0;
  transition: background-color 1s, color 500ms;
}

.mat-card-footer {
  padding-top: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.mat-card-image {
  margin: auto  !important;
}

.mat-card-image[_ngcontent-nup-c139]:first-child {
  margin: auto !important;
}

:host ::ng-deep .mat-card-subtitle:not(:first-child):visited {
  color: black;
}
mat-card-subtitle {
  font-size: 20px !important;
  margin: auto;
  padding: 5px 0px 15px 25px;
}

mat-card-title {
  font-size: 23px !important;
}

:host ::ng-deep .custom-dialog-container .mat-dialog-container {
  overflow-y: hidden !important;
}

:host ::ng-deep .mat-tab-body-content {
  overflow: hidden!important;
}

mat-card-content {
  margin: auto;
  font-size: 17px;
  line-height: 21px;
  padding: 20px 0px 10px;
}

:host ::ng-deep .mat-card-header-text {
  display: block;
  margin: 0px;
}

:host ::ng-deep .mat-tab-label {
  font-size: 20px !important;
  font-family: 'Tenor Sans', sans-serif !important;
  padding: 2px;
  min-width: 90px !important;
}

::ng-deep .mat-tab-label:hover:enabled {
  background-color: white;
  transition: background-color 2s, color 500ms;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: black;
  font-weight: bold;
  transition: background-color 2s, color 500ms;
  opacity: 1;
  border-radius: 5px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: black  !important;
}

@media only screen and (max-width: 420px) {
  mat-card {
    margin: 25px 5px;
    max-width: 300px;
    min-height: 250px;
  }
  .mat-card-title {
    font-size: 21px;
  }
  .computer-image {
    max-width: 250px;
  }
  :host ::ng-deep ul {
  padding-inline-start: 20px;
}
}

@media only screen and (max-width: 1068px) {
  :host ::ng-deep mat-card {
    min-height: 200px;
    }
}

