mat-card {
  box-shadow: none;
  background-color: transparent;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Tenor Sans', sans-serif !important;
}

mat-card-title {
  margin-bottom: 4px;
  font-size: 19px;
}

mat-card-subtitle {
  font-weight: 100;
}

.mat-card-content {
  margin-bottom: 0px;
  text-align: left;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.fa {
    padding: 0px 20px;
  }

.fa-envelope {
  font-size: 40px;
}

a:hover {
  opacity: 0.7;
}
