<h1 class="coming-soon">COMING SOON!</h1>

<div class="card-container">
  <img mat-card-image src="assets/projects-photos/Project_AO.png" alt="Arvid Outdoors">
  <img mat-card-image src="assets/projects-photos/Project_Portfolio.png" alt="My Portfolio">
  <img mat-card-image src="assets/projects-photos/Project_HH.png" alt="Mrs. Halvorson's Classroom Website">
  <img mat-card-image src="assets/projects-photos/Project_ToDo.png" alt="To Do Project">
  <img mat-card-image src="assets/projects-photos/Project_PIF.png" alt="Pictures in Focus Website">
  <img mat-card-image src="assets/projects-photos/Project_RPS.png" alt="Roof Power Solar Website">
  <img mat-card-image src="assets/projects-photos/Project_HomeGardening.png" alt="Home Gardening Seed Selling Website">
</div>


<!-- USE FOR A GRID to display images & info?
        <mat-grid-list cols = "4" rowHeight = "100px">
            <mat-grid-tile
            [colspan] = "3"
            [rowspan] = "1">1
            </mat-grid-tile>
            <mat-grid-tile
            [colspan] = "1"
            [rowspan] = "2">2
            </mat-grid-tile>
            <mat-grid-tile
            [colspan] = "1"
            [rowspan] = "1">3
            </mat-grid-tile>
            <mat-grid-tile
            [colspan] = "2"
            [rowspan] = "1">4
            </mat-grid-tile>
         </mat-grid-list>

GRID STYLE

// mat-grid-tile {
//   background: lightblue;
//  }

// .mat-list-base .mat-list-item {
//   height: 20px;
//   padding-top: 0px;
//  }

//  mat-grid-list {
//   display: flex;
//  }

-->
