a {
  color: black;
}

a:visited {
  color: inherit;
}

.next {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.route-card {
  width: 85px;
  color: #1a2d42;
  text-align: center;
  font-size: 45px;
  font-family: Helvetica;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.route-pic {
  width: 40px;
  vertical-align: text-bottom;
  padding-bottom: 5px;
}

.route-card:hover {
  cursor: pointer;
  text-decoration: none;
}
