.example-card {
  max-width: 300px;
  border-radius: 0px;
  margin: 5px;
  border: black 1px solid;
}
// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }


.card-container {
  max-width: 1300px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

// img {
//   border: #1a2d42 2px solid;
//   padding: 3px;
//   width: 300px;
//   margin: 10px;
// }

// mat-card-image {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// .mat-card-image:first-child {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

/* Responsive Styles */
// @media only screen and (max-width: 300px) {
//   img {
//     border: #1a2d42 2px solid;
//     padding: 3px;
//     width: 260px;
//     margin: 5px;
//   }
// }
