.card-container {
  max-width: 1300px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.project-card {
  max-width: 300px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black 1px solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.project-header {
  display: flex;
  align-items: left;
}

.mat-card-header .mat-card-title {
  margin-bottom: 7px;
}

.header-image {
  background-size: cover;
  border-radius: 0px;
  width: 20px;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mat-card-image:first-child {
  margin-top: -12px;
}

.mat-card-subtitle {
  font-size: small;
  margin-left: 25px;
  margin-bottom: 0px;
  color: grey;
  a {
    text-decoration: underline;
  }
  a:hover {
  cursor: pointer;
  transition: background-color 3s, color 1000ms, font-size 1000ms linear;
  color: black;
}
  }

.next {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.route-card {
  width: 85px;
  color: #1a2d42;
  text-align: center;
  font-size: 45px;
  font-family: Helvetica;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.route-pic {
  width: 40px;
  vertical-align: text-bottom;
  padding-bottom: 5px;
}

.route-card:hover {
  cursor: pointer;
  text-decoration: none;
}
