.example-card {
  max-width: 300px;
  border-radius: 0px;
  margin: 5px;
  border: black 1px solid;
}
.example-header-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-jenhalvorson.appspot.com/o/ArvidLogoSmall.png?alt=media&token=cc9859fb-7f37-4486-a511-189baa39b437');
  background-size: cover;
  border-radius: 0px;
  height: 40px;
}

.card-container {
  max-width: 1300px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.next {
  display: flex;
  justify-content: space-between;
}
.route-card {
  width: 50px;
  color: #1a2d42;
  text-align: center;
}

.route-card:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.route-pic {
  width: 30px;
  font-size: 35px;
  font-family: Helvetica;
}
