.small-icon {
  background: #ece4df;
  margin-right: 10px;
}

.matMenu {
  padding: 0px;
  background: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mat-menu-item {
  height: 50px;
  font-size: 15px;
  background-color: white;
  border-bottom: #1a2d42 1px solid;
  border-right: #1a2d42 1px solid;
  border-left: #1a2d42 1px solid;
}

.mat-icon {
  padding: 0px;
}

.material-icons-outlined {
  vertical-align: middle;
}

.menu-links{
  font-weight: 700;
  padding-left: 15px;
  font-family: "Josefin Sans", sans-serif;
}

button {
  align-content: center;
  max-width: 180px;
}

button.active {
  background-color: #58504e;
  opacity: 0.7;
}
