.card-container {
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  width: 100%;
  font-size: 18px;
  color: black;
  max-width: 1500px;
  margin: auto;
  align-items: flex-start;
  flex-wrap: wrap;
}

a {
  color: black;
}

a:visited {
  color: inherit;
}

.project-card {
  max-width: 280px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black 1px solid;
}

.project-header {
  display: flex;
  align-items: left;
}

.mat-card-header .mat-card-title {
  margin-bottom: 7px;
}

.header-image {
  background-size: cover;
  border-radius: 0px;
  width: 20px;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mat-card-image:first-child {
  margin-top: -12px;
}

:host ::ng-deep .project-subtitle {
  font-size: small;
  margin-left: 25px;
  margin-bottom: 0px;
}

:host ::ng-deep a:visited {
  color: inherit;
}

.mat-card-image {
  margin: 0 -16px;
}

.mat-card-content {
  margin-bottom: 0px;
  padding: 5px 0px;
}

.project-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.read-more {
    color: white;
    cursor: pointer;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
}

.mat-action-row {
  padding: 0px;
}

.mat-card-actions {
padding: 0px;
}
.mat-button {
  padding: 1px 6px;
}

/* Responsive Styles */
@media only screen and (max-width: 290px) {
  .project-card {
    max-width: 200px;
  }
}
