.article {
  overflow: hidden;
  margin-bottom: 0px;
  height: 78px;
}

div {
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  font-family: 'Tenor Sans', sans-serif;
  align-content: center;
  align-items: flex-start;
  display: flex;
}

h3 {
  margin: 25px auto 10px;
}

.info {
  justify-content: flex-start
}

.card-container {
  max-width: 1500px;
}

.invisible {
  display: none;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

a:-webkit-any-link {
  color: black;
}

a:visited {
  color: black;
}

mat-card {
  width: 400px;
  margin: 25px;
  border: black 1px solid;
  color:#999;
  background-color: white;
  transition: background-color 2s, color 500ms;
  padding: 10px;
}

mat-card:hover {
  background-color: #d0d0d0;
  transition: background-color 2s, color 500ms;
  color: #1a2d42;
}

.mat-card-footer {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 20px;
}

mat-card-title {
  font-size: 23px;
}

mat-card-header {
  display: flex;
  justify-content: left;
  padding-left: 15px;
}

:host ::ng-deep .mat-card-subtitle:not(:first-child):visited {
  color: black;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 8px;
}

.header-image {
  background-size: cover;
  border-radius: 0px;
  width: 20px;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mat-card-image {
  margin: auto  !important;
}

.mat-card-image[_ngcontent-nup-c139]:first-child {
  margin: auto !important;
}

.mat-card>:first-child, mat-card-content>:first-child {
 margin: auto  !important;
}

mat-card-subtitle {
  font-size: 20px;
  margin: auto;
  padding: 5px 0px 15px 25px;
}

:host ::ng-deep a:visited {
  color: black;
}

.computer-image {
  max-width: 350px;
  height: 100%;
  display: flex;
}

.icon {
  width: 44px;
}

mat-card-content {
  padding: 10px;
  margin: auto;
}

p {
  margin-block-end: 0em;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

mat-accordion {
  padding-top: 20px;
}

::ng-deep mat-tab-label-active{
  background-color: red;
}

::ng-deep mat-tab-label{
  opacity: 1 !important;
  min-width: 130px !important;
  font-size: 20px !important;
}

/* Responsive Styles */
@media only screen and (max-width: 389px) {
  mat-card {
    margin: 25px 5px;
    max-width: 300px;
  }
  .mat-card-title {
    font-size: 21px;
  }
}

@media only screen and (max-width: 400px) {
 .computer-image {
    max-width: 250px;
  }
}
