<div class="card-container">
  <mat-card *ngFor="let card of CARDS">

    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image [src]="card.logo" [alt]="card.logoAlt"/>
      </div>
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle [innerHTML]="card.subtitle"></mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image class="computer-image" [src]="card.image" [alt]="card.imageAlt"/>


      <mat-tab-group animationDuration="0ms">

          <mat-tab label="Tools Used:">
              <div>
                  <img  [ngClass]="{'invisible': card.icon1 === 0}" class="icon"  [src]="card.icon1" [alt]="card.icon1Alt"/>
                  <img  [ngClass]="{'invisible': card.icon2 === 0}" class="icon"  [src]="card.icon2" [alt]="card.icon2Alt"/>
                  <img  [ngClass]="{'invisible': card.icon3 === 0}" class="icon"  [src]="card.icon3" [alt]="card.icon3Alt"/>
                  <img  [ngClass]="{'invisible': card.icon4 === 0}" class="icon"  [src]="card.icon4" [alt]="card.icon4Alt"/>
                  <img  [ngClass]="{'invisible': card.icon5 === 0}" class="icon"  [src]="card.icon5" [alt]="card.icon5Alt"/>
                  <img  [ngClass]="{'invisible': card.icon6 === 0}" class="icon"  [src]="card.icon6" [alt]="card.icon6Alt"/>
                  <img  [ngClass]="{'invisible': card.icon7 === 0}" class="icon"  [src]="card.icon7" [alt]="card.icon7Alt"/>
                  <img  [ngClass]="{'invisible': card.icon8 === 0}" class="icon"  [src]="card.icon8" [alt]="card.icon8Alt"/>
                </div>
          </mat-tab>

          <mat-tab label="About">
              <mat-card-content [innerHTML]="card.content"></mat-card-content>
          </mat-tab>

          <mat-tab label="Code">Code</mat-tab>

        </mat-tab-group>

      </mat-card>
</div>



<!-- <div class="card-container">
    <mat-card *ngFor="let card of CARDS">

      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <img mat-card-image [src]="card.logo" [alt]="card.logoAlt"/>
        </div>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle [innerHTML]="card.subtitle"></mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image class="computer-image" [src]="card.image" [alt]="card.imageAlt"/>

        <div class="info">
          <p style="padding-left: 24px;">Tools Used:</p>
        <div>
          <img  [ngClass]="{'invisible': card.icon1 === 0}" class="icon"  [src]="card.icon1" [alt]="card.icon1Alt"/>
          <img  [ngClass]="{'invisible': card.icon2 === 0}" class="icon"  [src]="card.icon2" [alt]="card.icon2Alt"/>
          <img  [ngClass]="{'invisible': card.icon3 === 0}" class="icon"  [src]="card.icon3" [alt]="card.icon3Alt"/>
          <img  [ngClass]="{'invisible': card.icon4 === 0}" class="icon"  [src]="card.icon4" [alt]="card.icon4Alt"/>
          <img  [ngClass]="{'invisible': card.icon5 === 0}" class="icon"  [src]="card.icon5" [alt]="card.icon5Alt"/>
          <img  [ngClass]="{'invisible': card.icon6 === 0}" class="icon"  [src]="card.icon6" [alt]="card.icon6Alt"/>
          <img  [ngClass]="{'invisible': card.icon7 === 0}" class="icon"  [src]="card.icon7" [alt]="card.icon7Alt"/>
          <img  [ngClass]="{'invisible': card.icon8 === 0}" class="icon"  [src]="card.icon8" [alt]="card.icon8Alt"/>
        </div>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" [expanded]="isExpanded">
              <mat-expansion-panel-header>
                <mat-panel-title>
                   <p>About this App:</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card-content [innerHTML]="card.content"></mat-card-content>
            </mat-expansion-panel>
          </mat-accordion>
      </div>

    </mat-card>
  </div>
   -->
