.project-card {
  max-width: 280px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black 1px solid;
}

.project-header {
  display: flex;
  align-items: left;
}

.mat-card-header .mat-card-title {
  margin-bottom: 7px;
}

.header-image {
  background-size: cover;
  border-radius: 0px;
  width: 20px;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mat-card-image:first-child {
  margin-top: -12px;
}

.project-subtitle {
  font-size: small;
  margin-left: 25px;
  margin-bottom: 0px;
  a {
    color: grey !important;
  }
  a:hover {
    transition: background-color 3s, color 1000ms, font-size 1000ms linear;
    color: black;
    }
  a:visited {
  color: inherit;
}
}

.mat-card-content {
    margin-bottom: 0px;
    padding: 5px 0px;
    border-top: 1px solid;
}

p {
  padding: 0px;
  margin: 0px;
}

.project-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show {
  overflow: visible;
  white-space: pre-wrap;
}

.read-more {
    color: white;
    cursor: pointer;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-image: initial;
    border: black 1px solid;
    display: flex;
}

.read-more:hover {
    cursor: pointer;
    background-color: white;
    transition: background-color 2s, color 500ms, font-size 500ms linear;
    color: black;
}

.read-more:visited {
  background-color: initial;
}

.mat-action-row {
  padding: 0px;
}
