@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@1,300&family=Julius+Sans+One&family=Mr+De+Haviland&family=Pontano+Sans&family=Raleway:wght@300&family=Tenor+Sans&family=Trirong:wght@300&display=swap');

//changing colors of mat-card backgrounds
@keyframes backgroundColorPaletteA {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #d0d0d0;
  }
  25% {
    background: #d0d0d0;;
  }
  50% {
    background: #efefef;
  }
  75% {
    background: #efefef;
  }
  100% {
    background: #efefef;
  }
}


// font-family: 'Abril Fatface', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Mr De Haviland', cursive;
// font-family: 'Pontano Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Tenor Sans', sans-serif;
// font-family: 'Trirong', serif;

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 33px 15px 15px 15px;
}

h1 {
  font-size: 38px;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h3 {
  font-size: 21px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: left;
  margin: 25px 0px 5px 20px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

hr {
 margin: 30px 10px;
}

.jump {
  margin-top: -150px;
  padding-top: 200px;
}

.coming-soon {
    font-size: 30px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: 'Special Elite'
  }

.jen-pics{
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 245px;
  margin: 10px;
}

section {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.icon {
  width: 60px;
  padding: 10px 5px 0px 0px;
}

body .mat-menu-content {
  position: fixed;
}

.mat-menu-content:not(:empty) {
  padding-top: 1px !important;
}
.cdk-overlay-container{
  padding-top: 32px;
}

@media only screen and (max-width: 480px) {
  .icon {
    width: 50px;
  }
}

@media only screen and (max-width: 416px) {
  .icon {
    width: 35px;
  }
}



// .card-container {
//   display: flex;
//   margin: auto;
//   justify-content: space-around;
//   align-items: center;
//   text-align: center;
//   align-content: center;
//   flex-wrap: wrap;
// }

// mat-card {
//   margin: 10px;
//   border-radius: 0px;
// }

mat-card-image {
  margin-top: 0px;
}

mat-card>:first-child, mat-card-content>:first-child {
 margin-top: auto;
}

// img {
//     height: 100%;
//     margin-top: 0px;
//   }

/* Responsive Styles */
@media only screen and (max-width: 275px) {
}

@media only screen and (max-width: 325px) {
}

@media only screen and (max-width: 450px) {
}

@media only screen and (max-width: 490px) {
}

// @media screen and (max-width: 520px) {
// }

// @media only screen and (max-width: 600px) {
// }

// @media only screen and (max-width: 700px) {
// }

// @media screen and (max-width: 767px) {
// }

// @media only screen and (max-width: 992px) {
// }

// @media only screen and (max-width: 1024px) {
// }
