html, body {
  height: 100%;
  margin: 0;
  font-family: 'Special Elite';
}

.coming-soon {
    font-size: 30px;
    text-align: center;
    color: red;
    font-weight: bold;
  }

.jen-pics{
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 245px;
  margin: 10px;
}

.card-container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
}

mat-card {
  margin: 10px;
  border-radius: 0px;
}

mat-card-image {
  margin-top: 0px;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

img {
    height: 100%;
  }

/* Responsive Styles */
@media only screen and (max-width: 275px) {
}

@media only screen and (max-width: 325px) {
}

@media only screen and (max-width: 405px) {
  .narrow {
    display: block
  }
}

@media only screen and (max-width: 490px) {
}

// @media screen and (max-width: 520px) {
// }

// @media only screen and (max-width: 600px) {
// }

// @media only screen and (max-width: 700px) {
// }

// @media screen and (max-width: 767px) {
// }

// @media only screen and (max-width: 992px) {
// }

// @media only screen and (max-width: 1024px) {
// }
