mat-card-container {
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  border: #1a2d42 3px;
  border-style: solid;
}

mat-card:hover {
  cursor: pointer;
  background-color: #85f4ff;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
  color: #1a2d42;
}

a:hover {
  cursor: pointer;
  background-color: #85f4ff;
  transition: background-color 2s, color 500ms, font-size 500ms linear;
  color: #1a2d42;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media only screen and (max-width: 325px) {
}

@media only screen and (max-width: 405px) {
}

@media only screen and (max-width: 490px) {
}

@media screen and (max-width: 520px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 700px) {

}
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 1024px) {
}
